**/node_modules
/.webpack
.DS_Store
/.cursor
packages/curry/AreaInitializer.tsx
packages/curry/componentsList.ts
packages/curry/layout.tsx
packages/curry/page.tsx
packages/curry/react-app-env.d.ts
packages/curry/components/CodeSandboxButton.tsx
packages/curry/components/Fonts.tsx
packages/curry/components/Loader.tsx
packages/curry/components/ResetProjectButton.tsx
packages/curry/components/ResponsiveToolBar.tsx
packages/curry/components/showGridButton.tsx
packages/curry/components/headerMenu/ExportMenuItem.tsx
packages/curry/components/headerMenu/HeaderMenu.tsx
packages/curry/components/headerMenu/ImportMenuItem.tsx
packages/curry/components/headerMenu/SaveMenuItem.tsx
packages/curry/components/sidebar/DragItem.tsx
packages/curry/components/sidebar/PresetsList.tsx
packages/curry/components/sidebar/Sidebar.tsx
packages/curry/contexts/inspector-context.tsx
packages/curry/core/models/composer/composer.ts
packages/curry/custom-components/api.js
packages/curry/custom-components/fallback.tsx
packages/curry/custom-components/lazyLoad.tsx
packages/curry/custom-components/paramSelector.tsx
packages/curry/custom-components/refComponents.ts
packages/curry/hooks/useClipboard.ts
packages/curry/hooks/useDropComponent.ts
packages/curry/hooks/useEditorSharedState.ts
packages/curry/hooks/useForm.ts
packages/curry/hooks/useInteractive.ts
packages/curry/hooks/useParamsForm.ts
packages/curry/hooks/usePropsSelector.ts
packages/curry/store/appStore.ts
packages/curry/store/customComponentsStore.ts
packages/curry/store/presetsStore.ts
packages/curry/theme/myTheme.ts
packages/curry/utils/code.ts
packages/curry/utils/codesandbox.ts
packages/curry/utils/defaultProps.tsx
packages/curry/utils/editor.ts
packages/curry/utils/generateId.ts
packages/curry/utils/import.ts
packages/curry/utils/recursive.ts
packages/curry/utils/share.ts
packages/curry/utils/theme.ts
