**/node_modules
.webpack
.DS_Store
.cursor
.rollup.cache
dist
tsconfg.tsbuildinfo
tsconfig.tsbuildinfo
demo/ssr-app/.next/app-build-manifest.json
demo/ssr-app/.next/build-manifest.json
demo/ssr-app/.next/package.json
demo/ssr-app/.next/react-loadable-manifest.json
demo/ssr-app/.next/trace
demo/ssr-app/.next/cache/webpack/client-development/0.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/1.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/2.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/3.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/4.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/5.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/6.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/7.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/8.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/9.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/10.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/11.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/12.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/13.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/index.pack.gz
demo/ssr-app/.next/cache/webpack/client-development/index.pack.gz.old
demo/ssr-app/.next/cache/webpack/server-development/0.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/1.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/2.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/3.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/4.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/5.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/6.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/7.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/8.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/9.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/10.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/11.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/12.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/13.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/14.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/index.pack.gz
demo/ssr-app/.next/cache/webpack/server-development/index.pack.gz.old
demo/ssr-app/.next/server/app-paths-manifest.json
demo/ssr-app/.next/server/middleware-build-manifest.js
demo/ssr-app/.next/server/middleware-manifest.json
demo/ssr-app/.next/server/middleware-react-loadable-manifest.js
demo/ssr-app/.next/server/next-font-manifest.js
demo/ssr-app/.next/server/next-font-manifest.json
demo/ssr-app/.next/server/pages-manifest.json
demo/ssr-app/.next/server/server-reference-manifest.js
demo/ssr-app/.next/server/server-reference-manifest.json
demo/ssr-app/.next/server/webpack-runtime.js
demo/ssr-app/.next/server/app/_not-found_client-reference-manifest.js
demo/ssr-app/.next/server/app/not-found_client-reference-manifest.js
demo/ssr-app/.next/server/app/not-found.js
demo/ssr-app/.next/server/app/page_client-reference-manifest.js
demo/ssr-app/.next/server/app/page.js
demo/ssr-app/.next/server/vendor-chunks/@swc.js
demo/ssr-app/.next/server/vendor-chunks/@szhsin.js
demo/ssr-app/.next/server/vendor-chunks/@ungap.js
demo/ssr-app/.next/server/vendor-chunks/bail.js
demo/ssr-app/.next/server/vendor-chunks/character-entities.js
demo/ssr-app/.next/server/vendor-chunks/comma-separated-tokens.js
demo/ssr-app/.next/server/vendor-chunks/debug.js
demo/ssr-app/.next/server/vendor-chunks/decode-named-character-reference.js
demo/ssr-app/.next/server/vendor-chunks/dequal.js
demo/ssr-app/.next/server/vendor-chunks/devlop.js
demo/ssr-app/.next/server/vendor-chunks/estree-util-is-identifier-name.js
demo/ssr-app/.next/server/vendor-chunks/extend.js
demo/ssr-app/.next/server/vendor-chunks/has-flag.js
demo/ssr-app/.next/server/vendor-chunks/hast-util-from-parse5.js
demo/ssr-app/.next/server/vendor-chunks/hast-util-parse-selector.js
demo/ssr-app/.next/server/vendor-chunks/hast-util-raw.js
demo/ssr-app/.next/server/vendor-chunks/hast-util-to-jsx-runtime.js
demo/ssr-app/.next/server/vendor-chunks/hast-util-to-parse5.js
demo/ssr-app/.next/server/vendor-chunks/hast-util-whitespace.js
demo/ssr-app/.next/server/vendor-chunks/hastscript.js
demo/ssr-app/.next/server/vendor-chunks/html-url-attributes.js
demo/ssr-app/.next/server/vendor-chunks/html-void-elements.js
demo/ssr-app/.next/server/vendor-chunks/immer.js
demo/ssr-app/.next/server/vendor-chunks/inline-style-parser.js
demo/ssr-app/.next/server/vendor-chunks/is-plain-obj.js
demo/ssr-app/.next/server/vendor-chunks/lucide-react.js
demo/ssr-app/.next/server/vendor-chunks/mdast-util-from-markdown.js
demo/ssr-app/.next/server/vendor-chunks/mdast-util-to-hast.js
demo/ssr-app/.next/server/vendor-chunks/mdast-util-to-string.js
demo/ssr-app/.next/server/vendor-chunks/micromark-core-commonmark.js
demo/ssr-app/.next/server/vendor-chunks/micromark-factory-destination.js
demo/ssr-app/.next/server/vendor-chunks/micromark-factory-label.js
demo/ssr-app/.next/server/vendor-chunks/micromark-factory-space.js
demo/ssr-app/.next/server/vendor-chunks/micromark-factory-title.js
demo/ssr-app/.next/server/vendor-chunks/micromark-factory-whitespace.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-character.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-chunked.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-classify-character.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-combine-extensions.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-decode-numeric-character-reference.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-decode-string.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-encode.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-html-tag-name.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-normalize-identifier.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-resolve-all.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-sanitize-uri.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-subtokenize.js
demo/ssr-app/.next/server/vendor-chunks/micromark-util-symbol.js
demo/ssr-app/.next/server/vendor-chunks/micromark.js
demo/ssr-app/.next/server/vendor-chunks/ms.js
demo/ssr-app/.next/server/vendor-chunks/next.js
demo/ssr-app/.next/server/vendor-chunks/parse5.js
demo/ssr-app/.next/server/vendor-chunks/property-information.js
demo/ssr-app/.next/server/vendor-chunks/react-markdown.js
demo/ssr-app/.next/server/vendor-chunks/react-transition-state.js
demo/ssr-app/.next/server/vendor-chunks/rehype-raw.js
demo/ssr-app/.next/server/vendor-chunks/remark-parse.js
demo/ssr-app/.next/server/vendor-chunks/remark-rehype.js
demo/ssr-app/.next/server/vendor-chunks/space-separated-tokens.js
demo/ssr-app/.next/server/vendor-chunks/style-to-js.js
demo/ssr-app/.next/server/vendor-chunks/style-to-object.js
demo/ssr-app/.next/server/vendor-chunks/supports-color.js
demo/ssr-app/.next/server/vendor-chunks/trim-lines.js
demo/ssr-app/.next/server/vendor-chunks/trough.js
demo/ssr-app/.next/server/vendor-chunks/unified.js
demo/ssr-app/.next/server/vendor-chunks/unist-util-is.js
demo/ssr-app/.next/server/vendor-chunks/unist-util-position.js
demo/ssr-app/.next/server/vendor-chunks/unist-util-stringify-position.js
demo/ssr-app/.next/server/vendor-chunks/unist-util-visit-parents.js
demo/ssr-app/.next/server/vendor-chunks/unist-util-visit.js
demo/ssr-app/.next/server/vendor-chunks/use-sync-external-store.js
demo/ssr-app/.next/server/vendor-chunks/uuid.js
demo/ssr-app/.next/server/vendor-chunks/vfile-location.js
demo/ssr-app/.next/server/vendor-chunks/vfile-message.js
demo/ssr-app/.next/server/vendor-chunks/vfile.js
demo/ssr-app/.next/server/vendor-chunks/web-namespaces.js
demo/ssr-app/.next/server/vendor-chunks/zustand.js
demo/ssr-app/.next/server/vendor-chunks/zwitch.js
demo/ssr-app/.next/static/chunks/app-pages-internals.js
demo/ssr-app/.next/static/chunks/main-app.js
demo/ssr-app/.next/static/chunks/polyfills.js
demo/ssr-app/.next/static/chunks/webpack.js
demo/ssr-app/.next/static/chunks/app/layout.js
demo/ssr-app/.next/static/chunks/app/not-found.js
demo/ssr-app/.next/static/chunks/app/page.js
demo/ssr-app/.next/static/css/app/layout.css
demo/ssr-app/.next/static/css/app/page.css
demo/ssr-app/.next/static/development/_buildManifest.js
demo/ssr-app/.next/static/development/_ssgManifest.js
demo/ssr-app/.next/static/images/icon-906cb2faefe21d3778dced904bbc19a7.svg
demo/ssr-app/.next/static/images/karmyc_logo-a565090a28b82348f48e4dd1bec283f6.svg
demo/ssr-app/.next/static/webpack/0b8f53bb34a86bb3.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/0ffb040e7597270d.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/2a796e3d8fad6918.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/2d6fbd8dca41938f.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/3cfff287148f97aa.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/3e9ec5ad4988470f.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/3f26661d73d49c21.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/4f187f8c77d87f6c.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/6a82d406b7598cae.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/7ff82ce0f9ba6495.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/8f54ac971d3b9b2b.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/17f6fc727941ed09.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/28db63fded4ea7e5.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/33fd88f4ee0827a2.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/50f3797b09b3d4bc.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/63e2c510adc1932e.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/88dd1bc16917069e.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/239f831f65a89484.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/833d81f2a0da1209.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/939e20abd6fa1494.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/4902b3e8a4024d6a.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/04924bd103907189.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/8664b56967ae7e5f.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/771573b8bbe45d5d.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/633457081244afec._.hot-update.json
demo/ssr-app/.next/static/webpack/a8564174274dc6bf.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/ac7a86373ffcd9f1.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/b0d19b7605bfbcda.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/b3fd3a1d16edaac7.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/b14f2897f615d307.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/b0517b2b8b8ac7e6.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/c0b4b3a4e035703e.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/c6579aa308da6723.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/d53950e3fcf5d84f.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/e26885b500b18030.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/f3dc564ca9556630.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/ff60548e0c1a214f.webpack.hot-update.json
demo/ssr-app/.next/static/webpack/webpack.0b8f53bb34a86bb3.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.0ffb040e7597270d.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.2a796e3d8fad6918.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.2d6fbd8dca41938f.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.3cfff287148f97aa.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.3e9ec5ad4988470f.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.3f26661d73d49c21.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.4f187f8c77d87f6c.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.6a82d406b7598cae.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.7ff82ce0f9ba6495.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.8f54ac971d3b9b2b.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.17f6fc727941ed09.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.28db63fded4ea7e5.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.33fd88f4ee0827a2.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.50f3797b09b3d4bc.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.63e2c510adc1932e.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.88dd1bc16917069e.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.239f831f65a89484.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.833d81f2a0da1209.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.939e20abd6fa1494.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.4902b3e8a4024d6a.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.04924bd103907189.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.8664b56967ae7e5f.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.771573b8bbe45d5d.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.a8564174274dc6bf.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.ac7a86373ffcd9f1.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.b0d19b7605bfbcda.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.b3fd3a1d16edaac7.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.b14f2897f615d307.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.b0517b2b8b8ac7e6.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.c0b4b3a4e035703e.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.c6579aa308da6723.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.d53950e3fcf5d84f.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.e26885b500b18030.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.f3dc564ca9556630.hot-update.js
demo/ssr-app/.next/static/webpack/webpack.ff60548e0c1a214f.hot-update.js
demo/ssr-app/.next/static/webpack/app/layout.4902b3e8a4024d6a.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.0b8f53bb34a86bb3.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.0ffb040e7597270d.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.2a796e3d8fad6918.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.2d6fbd8dca41938f.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.3e9ec5ad4988470f.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.3f26661d73d49c21.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.4f187f8c77d87f6c.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.6a82d406b7598cae.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.7ff82ce0f9ba6495.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.8f54ac971d3b9b2b.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.17f6fc727941ed09.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.28db63fded4ea7e5.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.33fd88f4ee0827a2.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.50f3797b09b3d4bc.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.63e2c510adc1932e.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.88dd1bc16917069e.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.239f831f65a89484.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.833d81f2a0da1209.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.939e20abd6fa1494.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.04924bd103907189.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.8664b56967ae7e5f.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.771573b8bbe45d5d.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.a8564174274dc6bf.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.ac7a86373ffcd9f1.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.b0d19b7605bfbcda.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.b3fd3a1d16edaac7.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.b14f2897f615d307.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.b0517b2b8b8ac7e6.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.c0b4b3a4e035703e.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.c6579aa308da6723.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.d53950e3fcf5d84f.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.e26885b500b18030.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.f3dc564ca9556630.hot-update.js
demo/ssr-app/.next/static/webpack/app/page.ff60548e0c1a214f.hot-update.js
demo/ssr-app/.next/types/package.json
demo/ssr-app/.next/types/app/layout.ts
demo/ssr-app/.next/types/app/page.ts
