.loading-spinner {
    border: 15px dotted rgb(255, 255, 255);
    border-radius: 50%;
    animation: spin 15s linear infinite;
    filter: drop-shadow(0 0 5px #00a3e4c5);
}

.loading-text {
    content: 'loading...';
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #00a3e4;
    font-size: 25px;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(circle, #ffffff, #ffffff 30%, transparent 75%);
    line-height: 1rem;
    text-align: center;
    vertical-align: middle;
    width: 75%;
}

.loading-spinner.large+.loading-text {
    font-size: 25px;
    height: 175px;
    line-height: 160px;
}

.loading-spinner.medium+.loading-text {
    font-size: 17px;
    height: 125px;
    line-height: 115px;
}

.loading-spinner.small+.loading-text {
    font-size: 12px;
    height: 75px;
    line-height: 60px;
}

.loading-spinner.small {
    width: 75px;
    height: 75px;
}

.loading-spinner.medium {
    width: 125px;
    height: 125px;
}

.loading-spinner.large {
    width: 175px;
    height: 175px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
